<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
       <div class="box1">
            <img src="{{ url_for('static', filename='images/register.jpg') }}" alt="register" width="900px" height="500px">
       </div>
       <div class="box2">
            <h1>Register</h1>
            <form method="POST" class="auth-form">

                <label>Username</label>
                <input type="text" name="username">

                <label>Email</label>
                <input type="text" name="email">

                <label>Password</label>
                <input type="password" name="password">

                <button type="submit">Register</button>

                <p class="login-link">
                    Already have an account?
                    <a href="{{ url_for('login') }}">Login</a>
                </p>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
       </div>
    </div>
</body>
</html>